<!DOCTYPE html>
    <html>
    <head>
        <title>Mi MVC Empty</title>
    </head>
    <body>
     
        <h1>Plantilla Principal</h1>
        <hr/>
        <div>
            @RenderBody()
        </div>

       <footer>
           <h2>Footer</h2>
       </footer>
    </body>
</html>
