<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <h1 class="text-primary">Prueba Plantilla</h1>
    <div style="background-color:red">

        <h1>Zona de vistas</h1>
        @RenderBody()
    </div>

</body>

</html>