
@*
    For more informtion on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Persona


@if (Model != null)
{
    <h2>
        @Model.Nombre
    </h2>
    <h2>
        @Model.Email
    </h2>
    <h2>
        @Model.Edad
    </h2>
}

